.external-link-nav-item {
  display: block;

  .external-link-nav-item__icon {
    display: none;
  }
  &:hover, &:focus {
    .external-link-nav-item__icon {
      display: inline;
    }
  }
}

.app-launcher-launch-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  width: 275px;
  margin-left: 10px;
  color: rgb(21, 21, 21);

  .external-link-nav-item__icon {
    display: none;
  }

  &:hover, &:focus {
    color: rgb(0, 102, 204);
    .external-link-nav-item__icon {
      display: inline;
    }
  }
}

.app-launcher-launch-item__image {
  margin-right: 5px;
  width: 22px;
}

.pf-c-dropdown__group.app-launcher-group {
  padding-left: 10px;
  > ul {
    padding-left: 10px;
    .app-launcher-launch-item {
      margin-top: 5px;
    }
  }
}

.perspective-sidebar {
  .pf-c-page__sidebar-body {
    padding-top: 0;
  }
}

.perspective-switcher {
  .pf-c-dropdown__toggle {
    width: 100%;
    display: flex;
    flex-direction: row;
    .pf-c-dropdown__toggle-text {
      flex: 1;
    }
  }
  .pf-c-dropdown__menu-item {
    display: flex;
    flex-direction: row;
    padding: 8px;
    align-items: center;
    &.pf-m-hover, &:hover, &:focus {
      background-color: rgb(237, 237, 237);
    }
  }

  .perspective-switcher-toggle {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .perspective-description {
    font-size: 14px;
    text-align: left;
  }
}

